In [14]:
from datetime import datetime
from concurrent import futures

import pandas as pd
from pandas import DataFrame
import pandas_datareader.data as web


auto = ['TSLA','TM','RACE','GM','HMC','FUV','HOG','FCAU','F','KNDI',
        'NIO','TTM'
        #,'NSANY','SPAR','WKHS','ZAAP','GOOGL'
       ]


now_time = datetime.now()
start_time = datetime(now_time.year - 1, now_time.month , now_time.day)
stock_f=[]
df = pd.DataFrame([])


for x in auto:
    print(x)
    stock_df = web.DataReader(x,'iex', start_time, now_time)
    stock_df['Name'] = x
    stock_df['Market Cap']=stock_df['open']*stock_df['volume']
    df = df.append(stock_df)

TSLA
TM
RACE
GM
HMC
FUV
HOG
FCAU
F
KNDI
NIO
TTM

In [15]:
pd.DataFrame.head(stock_df)

             open    high    low  close   volume Name   Market Cap
date
2018-01-16  32.99  33.285  32.90  33.11  2212721  TTM  72997665.79
2018-01-17  33.11  33.240  33.03  33.06   958268  TTM  31728253.48
2018-01-18  32.81  32.815  32.47  32.61  2182126  TTM  71595554.06
2018-01-19  32.85  33.210  32.85  33.10  1158274  TTM  38049300.90
2018-01-22  33.10  33.240  32.73  32.88  1505179  TTM  49821424.90

In [13]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

stock_df.plt(y="open",x="date")

AttributeError: 'DataFrame' object has no attribute 'plt'